.timer {
    display: flex;
    gap:10px;
    justify-content: center;
    margin-top:20px;
    font-size: 25;
}

input {
    font-size: 25;
}
button {
    font-size:25;
    padding: 10px;
    border-radius: 10;
    
}

.styler {
    display: block;
    text-align: center;
}
.field {
    display: flex;
    flex-direction: column;
}

.value {
    font-family: fantasy;
    display: flex;
    justify-content: center;
}

#datetime-picker {
    margin-top: 280px;
}